@model Acerpro.Ui.Models.CountryModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="container>
    <div class="row">
        @Html.DropDownList("drCountry", ViewBag.CoutryList as IEnumerable<SelectListItem>, "Select Country",
                           new { @class = "form-control", onchange = "SelectCountry(this.value)" })


        <br />
        <div id="load" style="display:none">İşlem gerçekleşiyor...</div>
        <div id="result"></div>
        <br />
        <div class="col-md-12 m0" style=" margin: 0 !important; padding: 0 !important;" id="currencyList"></div>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.slim.js"></script>
<script type="text/javascript">
    function SelectCountry(val) {
        $("#result").html("");
        $("#load").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCountryInfo", "Home")",
            data: { isoCode : val },
            success: function (result) {
                $( "#currencyList").html(result);
            },
            complete: function () {
                $("#load").hide();
            }
        });
    }
</script> 