@model Acerpro.Ui.Models.CountryModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="container>
    <div class="row">
        @Html.DropDownList("drCountry", ViewBag.CoutryList as IEnumerable<SelectListItem>, "Select Country",
                           new { @class = "form-control", onchange = "SelectCountry(this.value)" })


        <br />

        <div class="col-md-12 m0" style=" margin: 0 !important; padding: 0 !important;" id="currencyList"></div>
    </div>

</div>

<script type="text/javascript">
    function SelectCountry(val) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCountryInfo", "Home")",
            data: { isoCode : val },
            success: function (result) {
                $( "#currencyList").html(result);
            }
        });
    }
</script> 