<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICountryCurrency" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53856/CountryCurrency.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryCurrency"
                contract="CountryCurrencyWcfService.ICountryCurrency" name="BasicHttpBinding_ICountryCurrency" />
        </client>
    </system.serviceModel>
</configuration>