<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Acerpro.Integrations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Acerpro.Integrations.Properties.Settings>
            <setting name="Acerpro_Integrations_CountryInfoService_CountryInfoService"
                serializeAs="String">
                <value>http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso</value>
            </setting>
        </Acerpro.Integrations.Properties.Settings>
    </applicationSettings>
</configuration>